#tagDiv {
  width: 100%;
  height: 40px;
}

#tagList {
  width: 95%;
  height: 36px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  white-space: nowrap;
}

.tagListItem {
  display: inline-block;
  padding: 2px;
  line-height: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #e5e5e5;
  margin-right: 10px;
  text-align: center;
}

#tagName {
  display: inline-block;
  margin: 2px 10px 2px 5px;
  height: 20px;
}

#tagCount {
  display: inline-block;
  margin: 2px 5px 2px 0;
  padding: 0 3px 0 3px;
  height: 16px;
  border-radius: 2px;
  background-color: #f7f7f7;
}

#tagSearch {
  float: right;
  height: 32px;
  text-align: center;
}

#addSearch {
  display: inline-block;
  background-color: #e5e5e5;
  margin: 0;
  padding-top: 2px;
  width: 21px;
  height: 19px;
}
